In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from ast import literal_eval
from itertools import chain
from itertools import combinations

In [32]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.sample(20)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1085,tt0242653,150000000,424988211,The Matrix Revolutions,Keanu Reeves|Laurence Fishburne|Carrie-Anne Mo...,Lilly Wachowski|Lana Wachowski,Everything that has a beginning has an end.,The human city of Zion defends itself against ...,129,Adventure|Action|Thriller|Science Fiction,Village Roadshow Pictures|NPV Entertainment|Si...,11/5/2003,6.4,2003,274988211
791,tt1265990,16000000,40492759,The Roommate,Minka Kelly|Leighton Meester|Cam Gigandet|Aly ...,Christian E. Christiansen,"2,000 colleges. 8 million roommates. Which one...","When Sara (Minka Kelly), a young design studen...",91,Thriller|Drama|Horror,Vertigo Entertainment|Screen Gems,2/4/2011,5.5,2011,24492759
342,tt0775552,45000000,57881056,Aliens in the Attic,Carter Jenkins|Austin Butler|Kevin Nealon|Robe...,John Schultz,The aliens vs. the Pearsons,"It's summer vacation, but the Pearson family k...",86,Adventure|Comedy|Family|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|Regency...,7/31/2009,5.1,2009,12881056
1028,tt1524137,25000000,63100000,Contraband,Mark Wahlberg|Kate Beckinsale|Ben Foster|Giova...,Baltasar KormÃ¡kur,What would you hide to protect your family?,When his brother-in-law runs afoul of a drug l...,109,Thriller|Action|Drama|Crime,Universal Pictures|StudioCanal|Relativity Medi...,1/12/2012,6.1,2012,38100000
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013,166984278
443,tt1414382,20000000,32005248,You Again,Kristen Bell|Sigourney Weaver|Betty White|Kris...,Andy Fickman,What doesn't kill you... is going to marry you...,History -- make that high school -- may repeat...,105,Comedy|Romance,Oops Doughnuts Productions|Touchstone Pictures...,9/24/2010,6.0,2010,12005248
746,tt1478338,32500000,288383523,Bridesmaids,Kristen Wiig|Rose Byrne|Maya Rudolph|Wendi McL...,Paul Feig,Save the date,Annieâ€™s life is a mess. But when she finds o...,125,Romance|Comedy,Universal Pictures|Relativity Media|Apatow Pro...,4/28/2011,6.5,2011,255883523
1646,tt0362270,50000000,34808403,The Life Aquatic with Steve Zissou,Bill Murray|Anjelica Huston|Cate Blanchett|Wil...,Wes Anderson,"The deeper you go, the weirder life gets.",Wes Andersonâ€™s incisive quirky comedy build ...,119,Adventure|Comedy|Drama,Touchstone Pictures,12/10/2004,7.0,2004,-15191597
1113,tt0298814,60000000,74208267,The Core,Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanle...,Jon Amiel,Earth has a deadline.,Geophysicist Dr. Josh Keyes discovers that an ...,136,Action|Thriller|Adventure|Science Fiction,Paramount Pictures|David Foster Productions|Ho...,3/28/2003,5.3,2003,14208267
929,tt0293815,20000000,33526835,Friday After Next,Ice Cube|Mike Epps|John Witherspoon|Don Curry|...,Marcus Raboy,The party's back in the 'hood!,Craig and Day Day have finally moved out of th...,85,Comedy|Drama,New Line Cinema,11/22/2002,6.5,2002,13526835
1881,tt0213790,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,5.4,2000,-10300000
1061,tt1598828,40000000,36893721,One for the Money,Katherine Heigl|John Leguizamo|Debbie Reynolds...,Julie Anne Robinson,She's looking for a few not-so-good men,"Stephanie Plum (Katherine Heigl), an unemploye...",91,Action|Comedy|Thriller|Crime|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/26/2012,5.2,2012,-3106279
692,tt0396707,12000000,7070330,The Secret of Moonacre,Ioan Gruffudd|Dakota Blue Richards|Tim Curry|A...,GÃ¡bor CsupÃ³,A Magical Journey Begins.,When 13 year old Maria Merryweather's father d...,103,Adventure|Fantasy|Drama|Science Fiction|Romance,South Pacific Pictures|Metropolitan Filmexport...,9/6/2008,5.7,2008,-4929670
1452,tt0327084,80000000,155019340,Over the Hedge,Bruce Willis|Garry Shandling|Steve Carell|Wand...,Tim Johnson|Karey Kirkpatrick,Taking back the neighborhood... One snack at a...,A scheming raccoon fools a mismatched family o...,83,Comedy|Animation|Family,Pacific Data Images (PDI)|DreamWorks Animation,4/22/2006,6.2,2006,75019340
1674,tt0480249,150000000,585349010,I Am Legend,Will Smith|Alice Braga|Charlie Tahan|Salli Ric...,Francis Lawrence,The last man on Earth is not alone,Robert Neville is a scientist who was unable t...,101,Drama|Horror|Action|Thriller|Science Fiction,Village Roadshow Pictures|Original Film|Weed R...,12/14/2007,6.8,2007,435349010
1551,tt0421206,30000000,41480851,Gridiron Gang,Dwayne Johnson|Xzibit|L. Scott Caldwell|Leon R...,Phil Joanou,One goal. A second chance.,"Teenagers at a juvenile detention center, unde...",125,Action|Adventure|Crime|Drama,Columbia Pictures,9/15/2006,6.5,2006,11480851
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,7/7/2005,5.6,2005,230579719
1507,tt0405296,8500000,5480996,A Scanner Darkly,Keanu Reeves|Winona Ryder|Woody Harrelson|Robe...,Richard Linklater,Everything Is Not Going To Be OK,An undercover cop in a not-too-distant future ...,100,Animation|Science Fiction|Thriller,Thousand Words|Warner Independent Pictures (WI...,5/25/2006,6.7,2006,-3019004
882,tt0217505,100000000,193772504,Gangs of New York,Leonardo DiCaprio|Daniel Day-Lewis|Cameron Dia...,Martin Scorsese,America Was Born In The Streets.,1863. America was born in the streets. Amsterd...,167,Drama|History|Crime,Miramax Films|Initial Entertainment Group (IEG...,12/14/2002,6.9,2002,93772504
428,tt1270761,25000000,36993168,Don't Be Afraid of the Dark,Katie Holmes|Guy Pearce|Bailee Madison|Alan Da...,Troy Nixey,Fear is never just make believe,A young girl sent to live with her father and ...,99,Fantasy|Horror|Thriller,Miramax Films|Gran Via Productions|FilmDistric...,11/6/2010,5.4,2010,11993168

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [33]:
data['profit']=data['revenue'] - data['budget']

def howord(s): #подсчёт слов в строке.
    c = 1
    l = list(s)
    for i in range(0,(len(l)-1)):
        if l[i] == ' ': 
            c+=1
    return c

'выделение и добавление строк только с одним режиссёром'
data_1bos = data.copy()
data_1bos.director = data_1bos.director.str.split('|')
data_1bos=data_1bos.explode('director')

'выделение и добавление строк только с одной кинокомпанией'
data_1company=data.copy()
data_1company.production_companies=data_1company.production_companies.str.split('|')
data_1company=data_1company.explode('production_companies')

'выделение и добавление строк только с одним актёром'
data_1cast=data.copy()
data_1cast.cast=data_1cast.cast.str.split('|')
data_1cast=data_1cast.explode('cast')

'новый признак - месяц выхода фильма'
data_rel_month=data.copy()
data_rel_month["release_date"] = pd.to_datetime(data_rel_month["release_date"])
data_rel_month["month"] = data_rel_month["release_date"].dt.month


answers = {
    1: 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
    2: 'Gods and Generals (tt0279111)',
    3: 'Winnie the Pooh',
    4: '110',
    5: '107.0',
    6: 'Avatar (tt0499549)',
    7: 'The Lone Ranger (tt1210819)',
    8: '1478',
    9: 'The Dark Knight (tt0468569)',
    10: 'The Lone Ranger (tt1210819)',
    11: 'Drama',
    12: 'Drama',
    13: 'Peter Jackson',
    14: 'Robert Rodriguez',
    15: 'Chris Hemsworth',
    16: 'Matt Damon',
    17: 'Action',
    18: 'K-19: The Widowmaker',
    19: '2015',
    20: '2014',
    21: 'Сентябрь',
    22: '450',
    23: 'Peter Jackson',
    24: 'Four By Two Productions',
    25: 'Universal Pictures',  # - неверно(
    26: 'Inside Out, The Dark Knight, 12 Years a Slave',
    27: 'Daniel Radcliffe & Rupert Grint'    
} 
# создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

AttributeError: 'DataFrame' object has no attribute 'explode'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [77]:
answers[1] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [48]:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [79]:
answers[2] = 'Gods and Generals (tt0279111)'

In [63]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [61]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers[3] = 'Winnie the Pooh (tt1449283)'

SyntaxError: illegal target for annotation (<ipython-input-61-f5381f62381f>, line 3)

In [62]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [34]:
answers[4] = '110'

NameError: name 'answers' is not defined

In [ ]:
#data['runtime'].mean()
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers[5] = '107.0'

In [3]:
data['runtime'].median()
#data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [9]:
answers[6] = 'Avatar (tt0499549)'

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-9-8a43bef7ae27>, line 1)

In [7]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data.profit = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [ ]:
answers[7] = 'The Lone Ranger (tt1210819)'

In [22]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
answers[8] = '1478'

In [82]:
data[(data.profit > 0)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers[9] = 'The Dark Knight (tt0468569)'

In [ ]:
data1 = data[(data['release_year'] == 2008)]
data1[(data1.revenue == data1.revenue.max())]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers[10] = 'The Lone Ranger (tt1210819)'

In [10]:
data2 = data[(data.release_year < 2015) & (data.release_year > 2011)]
data2[(data2.profit == data2.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
answers[11]  = 'Drama'

In [ ]:
spisok = (data.genres.str.split('|')).sum()
Counter(spisok).most_common(3)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers[12]  = 'Drama'

In [23]:
data3 = data[data.profit > 0]
Counter((data3.genres.str.split('|')).sum()).most_common(6)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [71]:
answers[13] = 'Peter Jackson'

In [21]:
data_1bos.groupby('director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers[14] = 'Robert Rodriguez'

In [ ]:
data_1bos.genres = data_1bos.genres.str.split('|')
data_1bos = data_1bos.explode('genres')
data_1bos = data_1bos[(data_1bos.genres == 'Action')]
data_1bos.groupby('director')['genres'].count().sort_values(ascending=False)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers[15] = 'Chris Hemsworth'

In [ ]:
data2012 = data[(data.release_year == 2012)]
data2012['cast'] = data2012['cast'].str.split('|')
data2012 = data2012.explode('cast')
data2012.groupby('cast')['revenue'].sum().sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers[16] = 'Matt Damon'

In [24]:
data_cast_hight = data_1cast[(data_1cast.budget > data_1cast.budget.mean())]
data_cast_hight.groupby('cast')['original_title'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers[17] = 'Action'

In [8]:
data_1cast_1gen = data_1cast.copy()
data_1cast_1gen.genres = data_1cast_1gen.genres.str.split('|')
data_1cast_1gen = data_1cast_1gen.explode('genres')
data_cage = data_1cast_1gen[(data_1cast_1gen.cast == 'Nicolas Cage')]
data_cage['genres'].value_counts()

AttributeError: 'DataFrame' object has no attribute 'explode'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers[18] = 'K-19: The Widowmaker'

In [9]:
PP = data_1company[(data_1company.production_companies == 'Paramount Pictures')]
PP[(PP.profit == PP.profit.min())]

AttributeError: 'DataFrame' object has no attribute 'explode'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers[19] = '2015'

In [180]:
data_rev = data.copy()
data_rev.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers[20] = '2014'

In [ ]:
data_warner = data.copy()

data_warner.production_companies=data_warner.production_companies.str.split('|')
data_warner = data_warner.explode('production_companies')
data_warner = data_warner[(data_warner.production_companies.str.contains('Warner Bros', na=False))]
                         
data_warner.groupby('release_year')['profit'].sum().sort_values(ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers[21] = 'Сентябрь'

In [25]:
data_rel_month.groupby('month')['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers[22] = '450'

In [14]:
summ = data_rel_month[(data_rel_month.month > 5) & (data_rel_month.month < 9)]
summ.original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers[23] = 'Peter Jackson'

In [131]:
data_1bos['release_date'] = pd.to_datetime(data_1bos['release_date'])
data_1bos['month'] = data_1bos['release_date'].dt.month
data_1bos = data_1bos[(data_1bos.month < 3 )|(data_1bos.month == 12) ]
data_1bos.groupby('director')['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers[24] = 'Four By Two Productions'

In [145]:
data_prodcom = data.copy()
data_prodcom['len_title'] = data_prodcom['original_title'].map(lambda x: len(x))

companies = data_prodcom['production_companies'].str.split('|').explode().unique()

sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data_prodcom['len_title'][data_prodcom['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers[25] = 'Universal Pictures'

In [21]:
data_tag=data_1company.copy()
data_tag['tag_len']=data_tag['tagline'].apply(howord)
data_tag=data_tag[(data_tag.tag_len >= data_tag.tag_len.mean())]
Counter(data_tag['production_companies']).most_common(7)

AttributeError: 'DataFrame' object has no attribute 'explode'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers[26] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [85]:
data['vote_average'].sort_values(ascending=False).head(19) #1% это 19 штук самых рейтинговых фильмов и их рейтинг 7.8-8.1

best = data[(data['vote_average'] >= 7.8)] #поэтому такая конструкция
best.original_title #это вся куча,из неё отбирала,а что делать?

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [183]:
answers[27] = 'Daniel Radcliffe & Rupert Grint'

In [109]:
data27 = data.copy()
data27['cast_split'] = data27['cast'].str.split('|')
data27['cast_cortege'] = data27.cast_split.apply(lambda x: list(combinations(x, 2)))
spis = data27.cast_cortege.tolist()
f = list(chain(*spis))
Counter(f).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers[6]

NameError: name 'answers' is not defined

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27